<div class="container p-auto">
    <h5 class="m-auto">Merci de choissiez le Fichier tiff</h5>
<div class="card-body m-auto">
    <div class="form-group">
        Fichier Tiff
        <label class="custom-file btn btn-sm btn-primary"  >
          <input type="file" name="tiffFile" id="tiffFile" placeholder="tiffFile" class="custom-file-input" aria-describedby="tiffFile" (change)="tiffFileChange($event)">
          <span class="custom-file-control"></span>
        </label>
        <small id="fileHelpId" class="form-text text-muted">Fichier Tiff</small>
      </div>
      <button (click)="documentConvert()">convert</button>
      <a id="download">download</a>
</div>

<h5 class="m-auto">Export</h5>
<div class="card-body m-auto">
    
</div>
    
</div>