<div class="container-fluid border-2 border-dark">
    <nav class="navbar  navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> Brand </a>
        
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"> Convertir <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Certifier </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Puls </a>
            </li>
          </ul>
          <span class="navbar-text">
            Contact @VevioSys
          </span>
        </div>
      </nav>
      <div class="container-fluid d-flex workspace bg-dark">



        <div class="canvas-container mx-auto d-flex py-2">
        
     
          <canvas id="paper" (mouseup)="onMouseUp($event)" (mousedown)="onMouseDown($event)">
  
  
          </canvas>
                 
  
  
       </div>


        <aside class="menu">
          <ul>
            <li><label class="btn" for="fileupload">Add sign</label></li>
            <li><label class="btn" for="docupload">Add Doc</label></li>
            <li><a class="btn" id="tele">Tele</a></li>
            <li><a class="btn" (click)="uploadDocument()">upload</a></li>
          </ul>
          
          <input type="file" id="fileupload" (change)="onFileChange($event)" hidden/>
          

      <input class="btn" type="file" id="docupload" (change)="uploadDocumentchange($event)" hidden/> 
       
      
        </aside>



      </div>

</div>


