<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> Brand </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Convertir <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Certifier </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Puls </a>
      </li>
    </ul>
    <span class="navbar-text">
      Contact @VevioSys
    </span>
  </div>
</nav>
<main class="container-fluid"> -->

  <app-editor></app-editor>

<!-- <hr class="my-5">


<app-convert></app-convert>

</main> -->
